* {
    font-family: 'MonaSans-Regular';
}


.chat-contenedor-principal {
    display: flex;
    flex-direction: column;

    height: 700px;
    width: 70%;

    border-radius: 30px;
    margin-bottom: 50px;




    
    
    background-color: tomato;
}

.chat-banner {
    height: 15%;

    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: beige;

}

.chat-texto-contenedor {
    align-items: flex-end;
    height:70%;
    background-color: white;
    border: none;
}

.contenedor-mensaje-usuario {
    height: 10%;

    border: none;
    outline: none;
    border-radius: 10px;
}

.contenedor-mensaje-usuario::placeholder {
    color: rgba(128, 128, 128, 0.516);
    font-size: 18px;

    padding-left: 20px;
}

.icono-enviar {
    height: 50px;
    width: 50px;
}