@font-face {
    font-family: 'MonaSans-Regular';
    src: url('/public/fuentes/MonaSans/MonaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-width: 100;
  }

  @font-face {
    font-family: 'MonaSans-ExtraBold';
    src: url('/public/fuentes/MonaSans/MonaSans-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-width: 125;
  }

.main-parlache {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    background-color: #F7F0E6;
}

.main-parlache h1 {
    margin-top: 5%;
    font-family: 'MonaSans-ExtraBold';
    font-size: 44px;
}

.introduccion-parlache {
    font-family: 'MonaSans-Regular';
    line-height: 1.5;
    box-sizing: border-box;
    margin: auto;
    width: 70%;
    font-size: 24px;
}

