@font-face {
  font-family: 'Inter-Black';
  src: url('/public/inter/Inter-ExtraLight.ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/public/inter/Inter-Regular.ttf');
}

.main {
    display: flex;
    flex-direction: column;
    font-family: 'Inter-Regular';
    background-color: #900C3F;
    transition-duration: 1.5s;
    word-break: break-word;  
    color: white;
    z-index: -1;
  }

  .menu {
    background-color: green;
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    height: 100%;

  }

  .menu input {
    font-family: 'Inter-Regular';
    font-size: 100%;
    color: #325343;
    flex-grow: 1;
    background-color:white;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    padding: 4px;
    border: none;
    border-radius: 20px;
  }

  .menu input:hover {
    color: white;
    transition: 0.5s;
    background-color: #d7125e;
    cursor: crosshair;
  }

