@font-face {
  font-family: 'MonaSans-Bold';
  src: url('/public/fuentes/MonaSans/MonaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-width: 100;
}

@font-face {
  font-family: 'MonaSans-Regular';
  src: url('/public/fuentes/MonaSans/MonaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-width: 100;
}



@keyframes colorTitulo {
  20% {
    background-color: rgba(144, 19, 66, 1);
  }
}

.encabezado {
    font-family: 'MonaSans-bold';
    font-size: 22px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    word-break: break-word;  
    background-color: rgba(144, 19, 66, 0.8);
    color: white;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .encabezado-scrolled {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 18px;
    transition: 1.5s;
    transition-duration: 3.5s ease;
    animation: colorTitulo 3s;
    border-radius: 0 0 0 0;
  }

  .encabezado-titulo {
    margin: auto;
  }

  .icono-github {
    margin-right: 15px;
    height: 40px;
    width: 40px;
  }

  .menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
  }

  .menu input {
    font-family: 'MonaSans-Regular';
    display: inline-block;
    padding: 20px 20px 30px;
    text-decoration: none;
    margin-bottom: 40px;
    width: 100%;
    box-sizing: border-box;
    height: 25%;
    border: none;
    font-size: 16px;
    color: white;
    background: linear-gradient(to top, white, white 50%, rgba(144, 19, 66, 0.1) 50%, rgba(144, 19, 66, 0.1)); 
    background-size: 100% 200%;
    transition: background-position 0.3s;
  }

  .menu input:hover {
    color: rgba(144, 19, 66, 0.8);
    background-position: 0 -100%;
  }

