.contenedor-buscador {
    display: flex;
    flex-direction: column;
    width: 80%;

    font-family: 'MonaSans-Regular';
    font-size: 22px;

    box-sizing: border-box;
    border: 0.1px solid black;
    border-radius: 20px;
    margin-bottom: 10%;
}

.contenedor-buscador p {
    font-size: 26px;

    margin-top: 5%;
    margin-right: 50%;
    padding-left: 5%;
}

.contenedor-busqueda {
    display: flex;
    flex-direction: row;
    height: 200px;

    border-radius: 10px;
}

.contenedor-busqueda > .campos {
    height: 30%;

    font-family: 'MonaSans-Regular';
    font-size: 26px;
    
    border: 0.1px solid black;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.756);
    text-align: center;
    margin-right: 10px;
    margin-top: 5%;
}

.contenedor-busqueda > .campos:focus {
    border: 0.1px solid rgb(144, 19, 67);
    outline: none;
}

.contenedor-busqueda > .campos:nth-child(1) {
    flex-grow: 1;
    margin-left: 10px;

}

.contenedor-busqueda > .campos:nth-child(2) {
    flex-grow: 2;
}

.contenedor-busqueda > .campos:nth-child(2)::placeholder {
    color: rgb(213, 213, 213);
}

.contenedor-busqueda > .campos:nth-child(3) {
    flex-grow: 1;
    background-color: rgba(144, 19, 67, 0.548);
    color: white;
}
