.pie-pagina {
    display: flex;
    flex-direction: column;

    color: white;


    margin-left: auto;
    width: 80%;
    height: 500px;
    background-color: #900028;

}

.pie-banner {
    display: flex;
    flex-direction: row;

    padding-left: 60px;


    height: 20%;

}

.pie-banner > h1 {
    margin: 20px;
}

.contenedor-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 50px;
    padding-right: 50px;
    height: 80%;
    background-color: tomato;
}